.rbc-toolbar-label {
  font-weight: 800;
  font-size: 18px;
}

.rbc-day-bg.rbc-off-range-bg {
  background-color: #e7e3e4;
}

.dark .rbc-day-bg.rbc-off-range-bg {
  background-color: #0b0809;
}

.rbc-day-bg.rbc-today,
.rbc-header.rbc-today,
.rbc-today {
  background-color: oklch(0.552 0.016 285.938);
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: oklch(0.141 0.005 285.823);
  font-size: 14px;
  font-weight: 300;
}

.dark .rbc-event,
.dark .rbc-day-slot .rbc-background-event {
  background-color: oklch(0.985 0 0);
  color: oklch(0.141 0.005 285.823);
}

.rbc-show-more {
  color: oklch(0.141 0.005 285.823);
}

.dark .rbc-show-more {
  color: oklch(0.985 0 0);
  background: none;
}

.dark .rbc-toolbar button {
  color: #e7e3e4;
}

.dark .rbc-toolbar button.rbc-active {
  background-color: oklch(0.37 0.013 285.805);
}

.dark .rbc-toolbar button:hover {
  background-color: oklch(0.37 0.013 285.805);
}

.dark .rbc-toolbar button:focus {
  color: white;
}

.dark .rbc-day-bg + .rbc-day-bg,
.dark .rbc-time-content > * + * > *,
.dark .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid oklch(0.552 0.016 285.938);
}

.dark .rbc-month-row + .rbc-month-row,
.dark .rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid oklch(0.552 0.016 285.938);
}

.dark .rbc-timeslot-group {
  border-bottom: 1px solid oklch(0.552 0.016 285.938);
}

.dark .rbc-day-slot .rbc-time-slot {
  border-top: 1px solid oklch(0.37 0.013 285.805);
}
