@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Exo 2", "sans-serif";
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

.modal .cursor-grab {
  display: none;
}

.modal .motion-safe\:animate-wiggle {
  animation: none;
}

.completed {
  @apply opacity-50;
  &:hover,
  &:focus {
    @apply opacity-100;
  }
}

.low {
  &.yellow {
    @apply bg-yellow-200 dark:bg-yellow-950;
    > div {
      @apply border-yellow-200 dark:border-yellow-950;
    }
  }
  &.orange {
    @apply bg-orange-200 dark:bg-orange-950;
    > div {
      @apply border-orange-200 dark:border-orange-950;
    }
  }
  &.red {
    @apply bg-red-200 dark:bg-red-950;
    > div {
      @apply border-red-200 dark:border-red-950;
    }
  }
  &.fuchsia {
    @apply bg-fuchsia-200 dark:bg-fuchsia-950;
    > div {
      @apply border-fuchsia-200 dark:border-fuchsia-950;
    }
  }
  &.purple {
    @apply bg-purple-200 dark:bg-purple-950;
    > div {
      @apply border-purple-200 dark:border-purple-950;
    }
  }
  &.blue {
    @apply bg-blue-200 dark:bg-blue-950;
    > div {
      @apply border-blue-200 dark:border-blue-950;
    }
  }
  &.teal {
    @apply bg-teal-200 dark:bg-teal-950;
    > div {
      @apply border-teal-200 dark:border-teal-950;
    }
  }
  &.green {
    @apply bg-green-200 dark:bg-green-950;
    > div {
      @apply border-green-200 dark:border-green-950;
    }
  }
  &.lime {
    @apply bg-lime-200 dark:bg-lime-950;
    > div {
      @apply border-lime-200 dark:border-lime-950;
    }
  }
}
.medium {
  &.yellow {
    @apply bg-yellow-300 dark:bg-yellow-800;
    > div {
      @apply border-yellow-300 dark:border-yellow-800;
    }
  }
  &.orange {
    @apply bg-orange-300 dark:bg-orange-800;
    > div {
      @apply border-orange-300 dark:border-orange-800;
    }
  }
  &.red {
    @apply bg-red-300 dark:bg-red-800;
    > div {
      @apply border-red-300 dark:border-red-800;
    }
  }
  &.fuchsia {
    @apply bg-fuchsia-300 dark:bg-fuchsia-800;
    > div {
      @apply border-fuchsia-300 dark:border-fuchsia-800;
    }
  }
  &.purple {
    @apply bg-purple-300 dark:bg-purple-800;
    > div {
      @apply border-purple-300 dark:border-purple-800;
    }
  }
  &.blue {
    @apply bg-blue-300 dark:bg-blue-800;
    > div {
      @apply border-blue-300 dark:border-blue-800;
    }
  }
  &.teal {
    @apply bg-teal-300 dark:bg-teal-800;
    > div {
      @apply border-teal-300 dark:border-teal-800;
    }
  }
  &.green {
    @apply bg-green-300 dark:bg-green-800;
    > div {
      @apply border-green-300 dark:border-green-800;
    }
  }
  &.lime {
    @apply bg-lime-300 dark:bg-lime-800;
    > div {
      @apply border-lime-300 dark:border-lime-800;
    }
  }
}
.high {
  &.yellow {
    @apply bg-yellow-500;
    > div {
      @apply border-yellow-500;
    }
  }
  &.orange {
    @apply bg-orange-500;
    > div {
      @apply border-orange-500;
    }
  }
  &.red {
    @apply bg-red-500;
    > div {
      @apply border-red-500;
    }
  }
  &.fuchsia {
    @apply bg-fuchsia-500;
    > div {
      @apply border-fuchsia-500;
    }
  }
  &.purple {
    @apply bg-purple-500;
    > div {
      @apply border-purple-500;
    }
  }
  &.blue {
    @apply bg-blue-500;
    > div {
      @apply border-blue-500;
    }
  }
  &.teal {
    @apply bg-teal-500;
    > div {
      @apply border-teal-500;
    }
  }
  &.green {
    @apply bg-green-500;
    > div {
      @apply border-green-500;
    }
  }
  &.lime {
    @apply bg-lime-500;
    > div {
      @apply border-lime-500;
    }
  }
}

.category {
  &.yellow {
    @apply bg-yellow-200 text-yellow-900 dark:bg-yellow-900 dark:text-yellow-200;
  }
  &.orange {
    @apply bg-orange-200 text-orange-900 dark:bg-orange-900 dark:text-orange-200;
  }
  &.red {
    @apply bg-red-200 text-red-900 dark:bg-red-900 dark:text-red-200;
  }
  &.fuchsia {
    @apply bg-fuchsia-200 text-fuchsia-900 dark:bg-fuchsia-900 dark:text-fuchsia-200;
  }
  &.purple {
    @apply bg-purple-200 text-purple-900 dark:bg-purple-900 dark:text-purple-200;
  }
  &.blue {
    @apply bg-blue-200 text-blue-900 dark:bg-blue-900 dark:text-blue-200;
  }
  &.teal {
    @apply bg-teal-200 text-teal-900 dark:bg-teal-900 dark:text-teal-200;
  }
  &.green {
    @apply bg-green-200 text-green-900 dark:bg-green-900 dark:text-green-200;
  }
  &.lime {
    @apply bg-lime-200 text-lime-900 dark:bg-lime-900 dark:text-lime-200;
  }
}
